.salary_form {
  &_block {
    margin-top: 5px;
    display: flex;
    align-items: center;
  }

  &_label {
    margin-top: 5px;
    font-weight: 600;
  }

  &_block_ndfl {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  &_label_ndfl {
    font-size: 14px;
    margin-right: 10px;

    &.active {
      font-weight: bold;
    }
  }
  .input_sum {
    margin-bottom: 50px;
  }
  &_for_summ {
    width: 180px;
    border-radius: 15px;
    -moz-appearance: textfield;
  }
  &_for_summ::-webkit-inner-spin-button {
    display: none;
  }
  .infoMROT {
    margin-top: 10px;
  }
}
